@charset "UTF-8";

.header {
    padding: 30px;
  text-align: center;
  background: rgb(173, 172, 172);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 1px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    margin-bottom: 1px;
  }
  
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    border-radius: 20px;
    background-image: linear-gradient(to right, #2E7BE8, #304EF2, #4836DB, #7C30F2, #A92EE8);
}

main {
    background-color: white;
    padding: 10px;

}

.footer {
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #333;
    margin-top: 1px;
    padding: 10px;
}

